@font-face {
    font-family: "Dosis";
    src: url('dosis.medium.ttf') format("truetype");
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-top: 1px solid #FFFFFF;
    line-height: 20px;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
p {
    font-size: 13px;
    margin: 0 0 20px 0;
    color: #D2D3D1;
}
h1 {
    font-size: 24px;
    margin: 0 0 11px 0;
    color: #5C5D5F;
}
h2 {
    font-size: 21px;
    margin: 0 0 8px 0;
    color: #7A7B7C;
}
h3 {
    font-size: 16px;
    margin: 0 0 8px 0;
    color: #979898;
}
h4 {
    font-size: 14px;
    margin: 0 0 8px 0;
    color: #D2D3D1;
}

a:link, a:visited {
    color: #7A7B7C;
    text-decoration: none;
}
a:hover {
    color: #979898;
}

strong.meta {
    font-weight: 300;
}

/* Brands */
.brand {
    position: relative;
}

/* Square rows - Head */
.brand-head {}
.squares-row {
    height: 110px;
    overflow: hidden;
    margin-top: 30px;
}
    .squares-row > ul {
        width: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
        .squares-row > ul > li {
            float: left;
            height: 110px;
            border-right: 1px solid white;
        }
            .squares-row > ul > li.sq-left {
                width: 110px;
            }
            .squares-row > ul > li.sq-center {
                width: 110px;
            }
            .squares-row > ul > li.sq-center.hovered {
            }
                .squares-row > ul > li.sq-center .lang {
                    color: #999999;
                    text-align: center;
                    margin-top: 5px;
                }
            .squares-row > ul > li.sq-right {
                width: 110px;
            }
li.sq-left-1, li.sq-right-1 {
    background: #c4c1ad;
}
li.sq-left-2,li.sq-right-2 {
    background: #cbc8b6;
}
li.sq-left-3, li.sq-right-3 {
    background: #dcdace;
}
li.sq-left-4, li.sq-right-4 {
    background: #e2e0d6;
}
li.sq-left-5, li.sq-right-5 {
    background: #eeede7;
}
li.sq-left-6, li.sq-right-6 {
    background: #fcfbf5;
}
.lt-ie9 li.sq-left-1, .lt-ie9 li.sq-left-2, .lt-ie9 li.sq-left-3, .lt-ie9 li.sq-left-4,
.lt-ie9 li.sq-right-1, .lt-ie9 li.sq-right-2, .lt-ie9 li.sq-right-3, .lt-ie9 li.sq-right-4 {
}
.brand.expanded .squares-row {
    border-bottom-color: #2B2C2F;
}

div.app-logo {
    position: absolute;
    top: 10px;
    left: 135px;
}

table.menu {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    width: 70%;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 auto 0 90px;
}

table.menu th {
    background: #acc8cc;
    background: linear-gradient(to bottom, rgb(0, 70, 168) 0%, rgb(0, 62, 78) 100%); /* W3C */
    padding: 8px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    color: white;
    text-transform: uppercase;
}

table.menu tr {
    background-color: #eeede7;
}

table.menu td {
    padding: 8px;
    border-bottom: 1px solid #003366;
    color: #494b48;
    text-transform: capitalize;
}

table.menu tr:hover {
    background-color: #d6c6a1;
}

/* Square rows - Body
.brand-body {
    overflow: hidden;
    background-color: #2B2C2F;
    min-height: 0;
    height: 0px;
}
.brand.expanded .brand-body {
     border-bottom: 1px solid #2B2C2F;
     -webkit-box-shadow: #1B1C1E 0 8px 5px 0 inset, #1B1C1E 0 -8px 5px 0 inset;
     -moz-box-shadow: #1B1C1E 0 8px 5px 0 inset, #1B1C1E 0 -8px 5px 0 inset;
     box-shadow: #1B1C1E 0 8px 5px 0 inset, #1B1C1E 0 -8px 5px 0 inset;
}
.lt-ie8 .collapsed .brand-body {
    visibility: hidden;
}
.no-js .brand-body {height: 100%;}

.brand-content {
    width: 974px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
.bc-left {
    width: 417px;
    float: left;
}
.bc-right {
    width: 527px;
    float: left;
    padding: 0 0 0 30px;
}

/* Citytime Brand
#citytime .squares-row.hovered {background-image: url(../images/citytime/backgrounds/citytime_bgi_squares.jpg);}

#citytime li.sq-center {background-image: url(../images/citytime/logos/citytime.png);overflow: visible;}
#citytime li.sq-center.hovered {background-image: url(../images/citytime/logos/citytime_h.png);}

#citytime li.sq-left-1 {background-image: url(../images/citytime/backgrounds/citytime_l1.jpg);}
#citytime li.sq-left-2 {background-image: url(../images/citytime/backgrounds/citytime_l2.jpg);}
#citytime li.sq-left-3 {background-image: url(../images/citytime/backgrounds/citytime_l3.jpg);}
#citytime li.sq-left-4 {background-image: url(../images/citytime/backgrounds/citytime_l4.jpg);}

#citytime li.sq-right-1 {background-color: #191C21;}
#citytime li.sq-right-2 {background-color: #202126;}
#citytime li.sq-right-3 {background-color: #202126;}
#citytime li.sq-right-4 {background-color: #2B2C2F;}

#citytime-footer li.sq-center {background-image: url(../images/citytime/logos/citymail_picto.png);cursor: auto; overflow: visible;}

#citytime-footer li.sq-left, #citytime-footer li.sq-center, #citytime-footer li.sq-right {
    color: #979898;
    height: 22px;
    padding-top: 116px;
    opacity: 1;
}

#citytime-footer li.sq-left span {
    display: block;
    text-align: left;
    padding-left: 10px;
}
#citytime-footer li.sq-center span.contact {
    display: block;
    text-align: center;
    width: 418px;
    position: relative;
    left: -139px;
}
#citytime-footer li.sq-center span.contact-mobile {
    display: none;
}
#citytime-footer li.sq-right span {
    display: block;
    text-align: right;
    padding-right: 10px;
}

.lt-ie9 #citytime-footer li {
    filter:alpha(opacity=100);
}

#langs .sq-center {cursor:default;}

/* Coda Slider
.coda-slider-wrapper { padding: 0;}
.coda-slider { background: none;}
.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px;}
.coda-slider, .coda-slider .panel { width: 527px;}
.coda-nav {margin: 0;}
.coda-nav ul li a.current { background: none; color: #D2D3D1;}
.coda-slider .panel-wrapper { padding: 0; }
.coda-slider p.loading { padding: 20px; text-align: center; }
.coda-slider { margin-top: 22px; }

.coda-nav ul { clear: both; display: block; overflow: hidden; margin: 0;}
.coda-nav ul li { display: inline; }
.coda-nav ul li a { background: none; color: #888888; display: block; float: left; margin-right: 1px; text-decoration: none }
.coda-nav ul li a { border-right: 1px solid #5C5D5F; padding: 0 14px; font-size: 14px;}
.coda-nav ul li a.first { border-right: 1px solid #5C5D5F; padding: 0 14px 0 0;}
.coda-nav ul li a.last { border-right: none; padding: 0 0 0 14px;}

.coda-slider-wrapper { clear: both; overflow: auto; }
.coda-slider { float: left; overflow: hidden; position: relative; }
.coda-slider .panel { display: block; float: left; }
.coda-slider .panel-container { position: relative; }
.coda-nav-left, .coda-nav-right { float: left; }
.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none; }

/* FlexSlider
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative; margin-bottom: 40px;}

.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(../images/bgi_direction_nav.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: -52px 0; right: 0px; }
.flex-direction-nav li .prev {left: 0px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.lt-ie8 .flex-control-nav { bottom: -23px;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../images/bgi_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* RESPONSIVE
@media screen and (max-width: 715px) {
    
    .squares-row {
        background-image: url(../images/bgi_squares_mobile.png);
        height: 98px;
    }
        .squares-row > ul > li { height: 98px; }
            .squares-row > ul > li.sq-left { width: 99px; }
            .squares-row > ul > li.sq-center { width: 98px; }
            .squares-row > ul > li.sq-right { width: 99px; }
            
    .brand-body { height: 800px; }
    
    .brand-content { width: 298px; }
    .bc-left { width: 298px; }
    .bc-right { margin-top: 30px; width: 298px; padding-left: 0; }
    
    #citytime .squares-row.hovered {background-image: url(../images/citytime/backgrounds/citytime_bgi_squares_mobile.jpg);}
    
    #citytime li.sq-center {background-image: url(../images/citytime/logos/citytime_mobile.png);overflow: visible;}
    #citytime li.sq-center.hovered {background-image: url(../images/citytime/logos/citytime_h_mobile.png);}
    
    #citytime li.sq-left-1 {background-image: url(../images/citytime/backgrounds/citytime_l1_mobile.jpg);}
    #citytime li.sq-left-2 {background-image: url(../images/citytime/backgrounds/citytime_l2_mobile.jpg);}
    #citytime li.sq-left-3 {background-image: url(../images/citytime/backgrounds/citytime_l3_mobile.jpg);}
    #citytime li.sq-left-4 {background-image: url(../images/citytime/backgrounds/citytime_l4_mobile.jpg);}
    
    #citytime-footer li.sq-center {background-image: url(../images/citytime/logos/citymail_picto_mobile.png);cursor: auto;}
    
    #citytime-footer li.sq-left, #citytime-footer li.sq-center, #citytime-footer li.sq-right {
        height: 22px;
        padding-top: 76px;
    }
    #citytime-footer li.sq-center span.contact {
	    display: none;
	}
	#citytime-footer li.sq-center span.contact-mobile {
	    display: block;
	    text-align: center;
	}
    #langs .sq-center {font-size: 9px;}
    .coda-slider, .coda-slider .panel { width: 298px;}
}
@media screen and (min-width: 318px) and (max-width: 515px) {
    
    .squares-row > ul { width: 298px; }
    
    li.sq-left-4, li.sq-left-3, li.sq-left-2,
    li.sq-right-4, li.sq-right-3, li.sq-right-2 { display: none; }
    
    li.sq-left-4-f, li.sq-left-2-f, li.sq-left-1-f,
    li.sq-right-4-f, li.sq-right-2-f, li.sq-right-1-f { display: none; }
    
}
@media screen and (min-width: 516px) and (max-width: 715px) {
    
    .squares-row > ul { width: 496px; }
    
    li.sq-left-4, li.sq-left-3,
    li.sq-right-4, li.sq-right-3 { display: none; }
    
    li.sq-left-4-f, li.sq-left-1-f,
    li.sq-right-4-f, li.sq-right-1-f { display: none; }
    
}
@media screen and (min-width: 716px) and (max-width: 993px) {
    
    .squares-row > ul { width: 696px; }
    
    li.sq-left-4, li.sq-left-3,
    li.sq-right-4, li.sq-right-3 { display: none; }
    
    li.sq-left-4-f, li.sq-left-1-f,
    li.sq-right-4-f, li.sq-right-1-f { display: none; }
    
    .brand-content { width: 696px; }
    .bc-left { width: 278px; }
    .bc-right { width: 386px; }
    .coda-slider, .coda-slider .panel { width: 386px; }
    
}
@media screen and (min-width: 994px) and (max-width: 1271px) {
    
    .squares-row > ul { width: 974px; }
    
    li.sq-left-4,
    li.sq-right-4 { display: none; }
    
    li.sq-left-4-f,
    li.sq-right-4-f { display: none; }
}
*/